
@{
    ViewData["Title"] = "BackToSurvey";
}

<h2 class="backToSurveyHeader">To help us better understand your needs, please take the survey before viewing your Profile.</h2>

<a asp-controller="Home" asp-action="Survey">
    <input class="backToSurveyButton"type="button" value="Survey" />
</a>

