@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Interested in owning your own franchise? Contact one of our sales representatives today: 1-800-BIZ-NESS</p>
<address>
    Franchise Finder<br />
    901 Pennsylvania Ave #3a<br />
    Pittsburgh, PA 15233<br />
    <abbr title="Phone">P:</abbr>
    800.555.0100
</address>

<address>
    <strong>Sales:</strong> <a href="mailto:Sales@franchisefinder.com">Sales@franchisefinder.com</a><br />
    <strong>Support:</strong> <a href="mailto:Support@franchisefinder.com">Support@franchisefinder.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@franchisefinder.com">Marketing@franchisefinder.com</a>
</address>
