
@{
    ViewData["Title"] = "EmailConfirmation";
}

<h2>Your survey results have been sent.</h2>

<div style="display: flex; justify-content:center">
    <a asp-controller="Profile" asp-action="ViewProfile">
        <input type="button" value="Return to Results" class="sendEmailButton" />
    </a>
</div>

