@using Microsoft.AspNetCore.Http
@{
    Layout = null;
    string x = Context.Session.GetString("user_email");
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
</head>
<body>
    <header>
        <div class="SiteTitle">
            <h1 class="layoutHeader">Franchise Finder</h1>
            <img />
        </div>
        <div class="MenuBar">
            <div class="spacer">
                <div id="toggle" class="">
                    <a href="#menu">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </a>
                </div>
                <div id="menu" style="display:none">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        @if (String.IsNullOrEmpty(x))
                        {
                            <li><a asp-controller="Profile" asp-action="Login">Log In</a></li>}
                        else
                        {
                            <li><a asp-controller="Profile" asp-action="Logout">Log Out</a></li>
                            <li><a asp-controller="Profile" asp-action="ViewProfile">My Profile</a></li>
                        }
                        <li><a asp-controller="Home" asp-action="Survey">Survey</a></li>
                        <li><a asp-controller="Home" asp-action="SearchFranchise">Franchise Search</a></li>
                        <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2019 - Franchise Finder</p>
            </footer>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <partial name="_ValidationScriptsPartial" />

    @RenderSection("Scripts", required: false)
    </body>
</html>
